
body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(233, 241, 241);
  

}


.container{
  width:60%;
margin:auto;


}

.container>h3{
  text-align:center;
}

.container>small{
  display: block;
  text-align: center;
  margin-top: -1rem;
}


.blog2{
  line-height: 1.8;
  word-spacing:1px;
  letter-spacing: 1px;

}

.blog2>div>h4{
  text-align:center;
}

#thank{
  text-align:center;
  }